### Here we will be performing some test queries to see if they give appropriate results

In [16]:
import pandas as pd
import configparser
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [17]:
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

DWH_DB_USER        =  config.get('DWH' , 'DWH_DB_USER')
DWH_DB_PASSWORD    =  config.get('DWH' , 'DWH_DB_PASSWORD')
DWH_ENDPOINT       =  '***************'
DWH_PORT           =  config.get('DWH', 'DWH_PORT')
DWH_DB             =  config.get('DWH', 'DWH_DB')

In [40]:
import os 
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.cywxupuf6u85.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

### Fist lets check the numbers of rows in each table

In [41]:
%%sql
songplay_count << SELECT COUNT(*) as total_songplay from songplays

 * postgresql://dwhuser:***@dwhcluster.cywxupuf6u85.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.
Returning data to local variable songplay_count

In [42]:
%%sql
user_count << SELECT COUNT(*) as total_users from users

 * postgresql://dwhuser:***@dwhcluster.cywxupuf6u85.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.
Returning data to local variable user_count

In [43]:
%%sql
song_count << SELECT COUNT(*) as total_songs from songs

 * postgresql://dwhuser:***@dwhcluster.cywxupuf6u85.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.
Returning data to local variable song_count

In [44]:
%%sql
artist_count << SELECT COUNT(*) as total_artist from artists

 * postgresql://dwhuser:***@dwhcluster.cywxupuf6u85.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.
Returning data to local variable artist_count

In [45]:
%%sql
time_count << SELECT COUNT(*) as total_time from time

 * postgresql://dwhuser:***@dwhcluster.cywxupuf6u85.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.
Returning data to local variable time_count

In [46]:
tables = [songplay_count, user_count, song_count, artist_count, time_count]

for table in tables:
    print(table)

+----------------+
| total_songplay |
+----------------+
|      652       |
+----------------+
+-------------+
| total_users |
+-------------+
|     105     |
+-------------+
+-------------+
| total_songs |
+-------------+
|    14896    |
+-------------+
+--------------+
| total_artist |
+--------------+
|    10025     |
+--------------+
+------------+
| total_time |
+------------+
|    8056    |
+------------+

### Lets take a look at 5 rows from each tables

In [47]:
%%sql
SELECT * FROM songplays LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cywxupuf6u85.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(1, datetime.datetime(9999, 6, 27, 4, 40, 39), 36, 'paid', 'SOBJUKG12A58A7DCA8', 'AR9W3X91187FB3994C', 392, 'Janesville-Beloit, WI', '"Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (8, datetime.datetime(9999, 6, 27, 4, 40, 39), 88, 'paid', 'SOHIBSG12A8C13E741', 'ART5MUE1187B98C961', 900, 'Sacramento--Roseville--Arden-Arcade, CA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (23, datetime.datetime(9999, 6, 27, 4, 40, 39), 95, 'paid', 'SOYTFSY12A6D4FD84E', 'ARRFSMX1187FB39B03', 152, 'Winston-Salem, NC', '"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D257 Safari/9537.53"'),
 (30, datetime.datetime(9999, 6, 27, 4, 40, 39), 25, 'paid', 'SOKOGIP12AB0182FCD', 'AROS1ML1187FB4CF35', 231, 'Marinette, WI-MI', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (37, datetime.datetime(9999, 6, 27, 4, 40, 39), 16, 'paid', 'SOEDHLM12AB0187C73', 'ARUOOPO119B8668087', 983, 'Birmingham-Hoover, AL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4"')]

In [48]:
%%sql
SELECT * FROM songs LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cywxupuf6u85.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('SOIRGRL12AB0186BC2', 'Exchange', 'ARLDW6Z1187FB3F2A0', 1995, 368.16934),
 ('SOGLJTW12AF72A114A', 'Immaculate heart 2', 'ARZ5CQT1187FB4CF24', 2005, 132.362),
 ('SOCZBBM12A58A7EE9B', 'Floodwater', 'ARJOCR71187B99286F', 0, 258.89914),
 ('SONQPZK12AB0182D84', 'Double Wide', 'ARKYKXP11F50C47A6A', 0, 160.20853),
 ('SOFZWCY12AAF3B3CCD', 'WIENER BLUT', 'ARWAQTR1187FB38810', 2009, 232.09751)]

In [49]:
%%sql
SELECT * FROM users LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cywxupuf6u85.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('52', 'Theodore', 'Smith', 'M', 'free'),
 ('63', 'Ayla', 'Johnson', 'F', 'free'),
 ('55', 'Martin', 'Johnson', 'M', 'free'),
 ('33', 'Bronson', 'Harris', 'M', 'free'),
 ('51', 'Maia', 'Burke', 'F', 'free')]

In [50]:
%%sql
SELECT * FROM artists LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cywxupuf6u85.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('ARVUQIC1187B9A7C66', 'Hevia', None, None, None),
 ('AR1AL4J1187B9973E4', 'Benjamin Bates', None, None, None),
 ('AR2665Z1187FB56AB9', 'Commodores', 'Tuskegee, AL', None, None),
 ('ARZMKFR1187FB3FC28', 'Echoing Green_ The', 'Albuquerque, NM', -106.64864, 35.08418),
 ('ARE2G8K1187FB53219', 'Venom', None, None, None)]

In [51]:
%%sql
SELECT * FROM time LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cywxupuf6u85.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(datetime.datetime(2018, 11, 1, 21, 24, 53, 796000), 21, 1, 44, 11, 2018, 4),
 (datetime.datetime(2018, 11, 1, 21, 55, 25, 796000), 21, 1, 44, 11, 2018, 4),
 (datetime.datetime(2018, 11, 2, 9, 4, 16, 796000), 9, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 9, 35, 25, 796000), 9, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 9, 42, 23, 796000), 9, 2, 44, 11, 2018, 5)]

### Next lets check our primary keys if they contain NULL values

Lets check if the primary key "artist_id" contains any NULL value

In [53]:
%%sql
SELECT artist_id
FROM artists
WHERE artist_id IS NULL;

 * postgresql://dwhuser:***@dwhcluster.cywxupuf6u85.us-west-2.redshift.amazonaws.com:5439/dwh
0 rows affected.

[]

Lets check if the primary key "user_id" contains any NULL value

In [54]:
%%sql
SELECT user_id
FROM users
WHERE user_id IS NULL;

 * postgresql://dwhuser:***@dwhcluster.cywxupuf6u85.us-west-2.redshift.amazonaws.com:5439/dwh
0 rows affected.

[]

Lets check if the primary key "song_id" contains any NULL value

In [56]:
%%sql
SELECT song_id
FROM songs
WHERE song_id IS NULL;

 * postgresql://dwhuser:***@dwhcluster.cywxupuf6u85.us-west-2.redshift.amazonaws.com:5439/dwh
0 rows affected.

[]

Lets check if the primary key "start_time" contains any NULL value

In [57]:
%%sql
SELECT start_time
FROM time
WHERE start_time IS NULL;

 * postgresql://dwhuser:***@dwhcluster.cywxupuf6u85.us-west-2.redshift.amazonaws.com:5439/dwh
0 rows affected.

[]

In [61]:
!tar cvfz newfiles.tar.gz *

README.md
__pycache__/
__pycache__/test_queries.cpython-36.pyc
__pycache__/sql_queries.cpython-36.pyc
create_tables.py
dwh.cfg
etl.py
redshift_cluster_config.ipynb
sql_queries.py
test_queries.ipynb